doctype html
html
  head
    title= title
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    meta(name="author", content=author)
    meta(name="viewport", content="width=device-width, initial-scale=1.0", http-equiv='X-UA-Compatible', charset="utf-8", )

    //- Jquery
    script(type="text/javascript", src="/dist/jquery/jquery.min.js")
    //- Bootstrap
    link(rel="stylesheet", href="/dist/bootstrap/css/bootstrap.min.css")
    //- CSS
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- Font Awesome
    link(rel="stylesheet", href="/dist/font-awesome/font-awesome.min.css")
    //- Bootstrap Core JavaScript
    script(type="text/javascript", src="/dist/bootstrap/js/bootstrap.min.js")

    //- favicons
    include ../include/favicons
    
    //- Google Analytics -//
    script.
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', '#{Google_Analytics}', 'auto');
      ga('send', 'pageview');
    script(async='', src='https://www.google-analytics.com/analytics.js')
    //- Google Analytics -//

  body
    .container-fluid.text-center

      //- title
      .row
        .col-xs-12
          a(href='/')
            h1= title
          span.isLive I am: 
            strong#status #{status}

      block content

        include ../include/time

        br

        //- login
        if (!loggedIn)
          include ../include/login
        else
          a(href="/logout", title='Logout')
            i.fas.fa-sign-out-alt Logout

        //- js
        block javascript
          include ../include/js

    //-  Footer
    footer(style="margin-top:100px;").text-center
      .row
        .col-xs-12
          p
            a(href="/privacy") Privacy Policy
            span  |  
            a(href="/terms") Terms & Conditions
            span  |  
            a(href="/support") Support
          p 
            a(href='//github.com/skeetzo',target="_blank") #{author}
            |  &copy; 2018
      include ../include/2257-compliance