extends layout  

prepend content
  
  // this is a square of video
  .row
    .col-xs-12
      h3 Preview
      video(src="/videos/preview.mp4", type="video/mp4", autoplay, controls, loop, width=500)

  // this is a cryptocurrency box & enter button
  .row
    .col-xs-12
      //- explanation
      p  To Enter, Pay >=$1 in Bitcoin to:
      //- link
      a(href=viewer.address)= viewer.address
      //- img(src=bitcoin_qr)

  br

  //- 18+ disclaimer
  .row.disclaimer
    .col-xs-12
      p You must be 
        strong 18 years or older 
        | to enter #{domain}

  //- enter
  .row
    .col-xs-12
      if (message||error)
        .message
          if (message)
            h5 #{message}
          if (error)
            h5 #{error}
      a.btn.btn-primary(href='/live') Enter
      button.btn.btn-primary(onclick="addTime()") Add Time

      script.
        function addTime() {
          return Promise.resolve($.ajax({
            type: 'GET',
            url: '/add',
            data: {'_csrf':"#{_csrf}"},
            success: function(data) {
              
            },
            error: function(data) {
            },
          })).catch(function (reason) {
            console.log(reason);
          });
        }