doctype html
html
  head
    title= title
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    meta(name="author", content=author)
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.sass')
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='//use.fontawesome.com/releases/v5.0.9/css/all.css', integrity='sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1', crossorigin='anonymous')
    // Bootstrap Core JavaScript
    script(type="text/javascript", src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    meta(charset="utf-8", name="viewport", content="width=device-width, initial-scale=1.0", http-equiv='X-UA-Compatible')
    // favicons
    //- include favicons
    // Google Analytics
    script.
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', '#{Google_Analytics}', 'auto');
        ga('send', 'pageview');
    script(async='', src='https://www.google-analytics.com/analytics.js')
    // End Google Analytics

  body
    .container-fluid.text-center

      //- title
      .row
        .col-xs-12
          a(href='/')
            h1= title
          span.isLive I am: 
            strong#status #{status}

      block content

        br

        include time

        br

        include conversion

        br

      block javascript
        include js

    include footer