extends ../layout/page

prepend content
  h2 Videos
  p 
  // this is a list of videos
  h3 Purchased
  hr
  .row
    //- users videos
    if (videos)
      for video in videos
        .col-md-3.col-sm-4.col-xs-4
          h3.videoTitle=video.title
          //- h4.videoDate #{video.date}
          h4.videoPrice=video.price
          video(controls, poster=video.path_image, type="video/mp4", width=250, src=video.path)
          .row
            a.btn.btn-primary.download(href=video.path, download, id=video._id) Download
  .row
    if (message||error)
      .message
        if (message)
          h5 #{message}
        if (error)
          h5 #{error}
  h3 Archive
  hr
  .row
    //- all videos
    if (videos_unowned)
      for video in videos_unowned
        .col-md-3.col-sm-4.col-xs-4
          h3.videoTitle=video.title
          //- h4.videoDate #{video.date}
          h4.videoPrice=video.price
          video(controls, poster=video.path_image, type="video/mp4", width=250, src=video.path)
          .row
            button.btn.btn-primary(onclick="buy(\'"+video.title+"\')") Buy

prepend javascript
  script.
    function buy(video) {
      //- console.log('video: %s', video);
      return Promise.resolve($.ajax({
        type: 'POST',
        url: '/buy',
        data: {'_csrf':"#{_csrf}",'video':video},
        success: function(data) {
          if (data.text)
            alert(data.text);
        },
        error: function(data) { 
         if (data.status == 400)
            alert('There was an error!');
          else if (data.status == 401)
            alert("Please login or create an account!");
          else if (data.responseJSON&&data.responseJSON.text) {
            alert(data.responseJSON.text);
            location.reload();
          }
          else
            alert('There was an error!');
        },
      })).catch(function (reason) {
        //- console.log(reason);
      });
    }

    //- function download(video) {
    //-   console.log('video: %s', video);
    //-   return Promise.resolve($.ajax({
    //-     type: 'POST',
    //-     url: '/download',
    //-     data: {'_csrf':"#{_csrf}",'video':video},
    //-     success: function(data) {
    //-     },
    //-     error: function(data) { 
    //-     },
    //-   })).catch(function (reason) {
    //-     //- console.log(reason);
    //-   });
    //- }
