extends layout

block content
  // terms
  .terms
    .row.col-md-12.col-sm-10.col-xs-12
      h1 Terms of Service
      h6 (Last amended: 6/20/2018)
      hr
      p By applying for access and or services from this website, User is agreeing to these terms and conditions, and is agreeing to be legally bound by them. This agreement is subject to change at any time. Changes are effective when posted on this site without notice upon each subscriber.

      h3 Preamble
      ul
        li User data is for internal use only and will be treated confidential.
        li After payment to User's unique bitcoin address User will receive additional viewing time.
        li All orders will be processed according to blockchain confirmation limitations.
        li All questions will be answered within six working days.
        li We recommend to print out the transaction data and Terms and Conditions and to keep them at an easily accessible place.
        li Prohibited for people under legal age in their respective country/jurisdiction, and as a minimum to anybody below 18 years of age.

      h2 1. Definitions
      ul(style="list-style:none;")
        li "User" shall mean the user of the services of the site and holder of a valid username and / or password or ip address for the Site.
        li “#{siteTitle}” shall mean any of the companies billing the User including any additional billing companies used by #{siteTitle} or changes thereof.
        li “Site” shall mean the website for which subscriber is procuring access time in order to access the site and its materials and obtain the benefits of subscriptions.
        li “Access rights,” shall mean the combination of unique username and password or ip address that is used to access a site. An access rights is a license to use a Site for a period of time that is specified.

      h2 2. Description of Services
      p #{siteTitle} will provide one access right to access the Site and its materials for which Users may purchase time for live viewing.

      h2 3. Billing
      p All billing is handled by the verification and integrity of Bitcoin blockchain transactions.

      h2 4. Payment / Fee
      p The Sites may have periodic subscription fees at the time of the initial enrollment for subscription. The subscriber is responsible for such fees according to the terms and conditions of such Site.

      h2 6. Electronic Receipt
      p Users will receive an email receipt to their email provided upon initial addition of time. User may request a copy of the account of charges of their account with the Site but #{siteTitle} does not guarantee the availability of such records more than 365 days after Subscription date. Requests must be made directly to #{siteTitle}. To contact #{siteTitle} refer to Customer Support links on the Site.

      h2 7. Cancellation
      p At any time, and without cause, subscription to the service may be terminated by either: #{siteTitle}, the Site, the Performer, or the User upon notification of the other by electronic or conventional mail, by chat, or by telephone. Users are liable for charges incurred until the date of the termination.
       
      h2 8. Cardholder Disputes / Chargebacks
      p All chargebacks are thoroughly investigated and may prevent future purchases with #{siteTitle} given the circumstances. Fraud claims may result in #{siteTitle} contacting User’s issuer to protect User and prevent future fraudulent charges to User card.

      h2 9. Authorization of Use
      p Users to the Site are hereby authorized a single access rights to access the service or material located at this website. This access rights shall be granted for sole use to one User. All subscriptions are provided for personal use and shall not be used for any commercial purposes or by any other third parties. Commercial use of either the Site or any material found within is strictly prohibited unless authorized by the website. No material within the Site may be transferred to any other person or entity, whether commercial or non- commercial. No material within the Site may be distributed through peer-to- peer networks or any other file sharing platforms. In addition, materials may not be modified, or altered. Materials may not be displayed publicly, or used for any rental, sale, or display. Materials shall extend to copyright, trademarks, or other proprietary notices there from. #{siteTitle} and the Site reserve the right to terminate this access rights at any time if the terms of this agreement are breached. In the case that the terms are breached, subscriber will be required to immediately destroy any information or material printed, downloaded or otherwise copied from the site.

      h2 10. Transfer of Access Rights
      p Access to the Site is through a combination of a username and a password or associated social media account. Users may not under any circumstances release their access rights to any other person, and are required to keep their access rights strictly confidential. #{siteTitle} will not release passwords for any reason, to anyone other than the User, except as may be specifically required by law or court order. Unauthorized access to the Site is a breach of this Agreement. Users acknowledge that the owner of the Site may track through the use of special software each User's entry to the site. If any breach of security, theft or loss of access rights, or unauthorized disclosure of access rights information occurs, User must immediately notify #{siteTitle} or the Site of said security breach. User will remain liable for unauthorized use of service until #{siteTitle} or the site is notified of the security breach by e-mail or telephone.

      h2 11. Sanction and Approval of Adult Material
      p This Site provides age-restricted materials. If User is under the age of 18 years, or under the age of majority in the location from where accessing this Site User does not have authorization or permission to enter or access any of its materials. If User is over the age of 18 years and over the age of majority in the location from where accessing this site by entering the website you hereby agree to comply with these terms and conditions.
       
      h2 12. Supplementary Terms and Conditions
      p The Site may have additional Terms and Conditions that are an integral part of their offering to the User, and are in addition to these Terms and Conditions. Such Terms and Conditions as listed at the site will in no way invalidate any of the Terms and Conditions listed here.
       
      h2 13. Severability
      p If any provision of this Agreement shall be held to be invalid or unenforceable for any reason, the remaining provisions shall continue to be valid and enforceable. If a court finds that any of this Agreement is invalid or unenforceable, but that by limiting such provision it would become valid or enforceable, then such provision shall be deemed to be written, construed, and enforced as so limited.

      h2 14. Notice
      p Notices by the site to Users may be given by means of electronic messages through the site, by a general posting on the site, or by conventional mail. Notices by Users may be given by electronic messages, conventional mail, telephone or fax unless otherwise specified in the Agreement. All questions, complaints, or notices regarding the site must be directed to #{siteTitle}. All cancellations of service to a site must also be directed to #{siteTitle}.

      p Questions and Contact Information All questions to #{siteTitle} regarding these terms and conditions must be directed to: For all issues:  info@#{siteTitle}