if (user)
  script(type="text/javascript", src='/dist/socket.io/socket.io.js')
  script.
    $(function () {
      var socket = io();

      socket.on('connect', function() {
        console.log("connected: #{user._id}")
        socket.emit('connected', "#{user._id}");
        if (window.location.pathname.indexOf('/live')>-1)
          socket.emit('start', "#{user._id}");
        else 
          socket.emit('stop', "#{user._id}");
      });

      socket.on('time', function(data) {
        var seconds = parseInt(data.time),
            time = toTime(data.time_added);
        $("#time").text(toTime(seconds));
        $("#timeseconds").text(seconds);
        if (time)
          alert('Time added! Added: '+(time.substring(0,time.indexOf('.'))));
      });

      socket.on('video', function(data) {
        alert('Video purchased! Enjoy!');
        window.location.replace("#{domain}/videos");
      });

      socket.on('sync', function(status) {
        console.log("syncing: #{user._id}")
        updateStatus(status);
      });

      socket.on('disconnect', function() {
        console.log("disconnecting: #{user._id}")
        socket.emit('end', "#{user._id}");
        window.location.replace("#{domain}/");
      });

      function updateStatus(status) {
        var status_ = $("#status").text();
        //- console.log('status: %s -> %s', status_, status);
        $("#status").text(status);
        if (status_=="Not Live"&&status=="Live")
          alert('I\'ve gone live!');
        else if (status_=="Live"&&status=="Not Live") {
          alert('I\'ve gone offline!');
          socket.emit('stop', "#{user._id}");
          window.location.replace("#{domain}/");
        }
      }

    })

