if (user)
  script(type="text/javascript", src='/dist/socket.io/socket.io.js')
  script.
    $(function () {
      var socket = io();

      socket.on('connect', function() {
        socket.emit('connected', "#{user._id}");
        if (window.location.pathname.indexOf('/live')>-1)
          socket.emit('start', "#{user._id}");
        else 
          socket.emit('stop', "#{user._id}");
      });

      socket.on('time', function(data) {
        var seconds = parseInt(data.time);
        $("#time").text(toTime(seconds));
        $("#timeseconds").text(seconds);
        if (data.time_added)
          alert('Time added! Added: '+(toTime(data.time_added).substring(0,toTime(data.time_added).indexOf('.'))));
      });

      socket.on('address', function(data) {
        alert('BTC Address Created!')
        //- window.location.reload();
        $("#address").href = "bitcoin:"+data.address
        $("#address").innerHTML = "bitcoin:"+data.address
        $("#qrcode").src = data.qrcode;
        $("#btc_address").style.display = "block";
        $("#generate").style.display = "hidden";
      })

      socket.on('video', function(data) {
        alert('Video purchased! Enjoy!');
        window.location.replace("#{domain}/videos");
      });

      socket.on('status', function(status) {
        updateStatus(status);
      });

      socket.on('disconnect', function() {
        window.location.replace("#{domain}/");
      });

      function updateStatus(status) {
        var status_ = $("#status").text();
        //- console.log('status: %s -> %s', status_, status);
        $("#status").text(status);
        if (status_=="Not Live"&&status=="Live")
          alert('I\'ve gone live!');
        else if (status_=="Live"&&status=="Not Live") {
          alert('I\'ve gone offline!');
          socket.emit('stop', "#{user._id}");
          window.location.replace("#{domain}/");
        }
      }
    })